blinker==1.9.0
click==8.3.1
defusedxml==0.7.1
et_xmlfile==2.0.0
Flask==3.1.0
fonttools==4.61.1
fpdf2==2.8.7
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
openpyxl==3.1.5
pillow==12.1.1
Werkzeug==3.1.6
